.canvas {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
video {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) scaleX(-1); /* mirror image */
}

.relative {
	position: relative;
}
